# --- Frontend (React) ---
node_modules/
dist/
.env
.env.local

# --- Backend (Spring Boot) ---
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
# QUAN TRỌNG: Chặn file chứa mật khẩu
backend-springbootsrc/main/resources/application.yaml
backend-springboot/src/main/resources/application.properties

# --- IDE & System ---
.idea/
.vscode/
*.swp
*.DS_Store
*.log